@{
    ViewBag.Title = "Home Page";
}

        @*start showCase*@
        <section id="ShowCase">
            <h1><span style="color:orangered">Vidlly</span> Rental Store</h1>
            <p>
            There are good reasons why so many rental companies deal online nowadays. Having an online rental store allows you to save time, work less, and get to know more about your customers. All these things will eventually boost your revenues.
            Are you thinking about setting up a rental webstore, but you’re not sure how.
            </p>
            <button class="btn btn-danger">More</button>
        </section>
        @*End showCase*@

        @* Start PartThree*@

        <section id="partThree">

            <div class="row">
                <div class="col-md-4">
                    <h2 style="color:orangered">start Top 5 Action</h2>
                    <img src="~/Content/img/action1.jpg" style=" width:250px;height:303px;margin:10px" />

                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default more" href="https://go.microsoft.com/fwlink/?LinkId=301865">Watch more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2 style="color:orangered">Get more Romantic</h2>
                    <img src="~/Content/img/action2.jpg" style=" width:250px;height:303px;margin:10px" />
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default more" href="https://go.microsoft.com/fwlink/?LinkId=301866">Watch more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2 style="color:orangered">Animations</h2>
                    <img src="~/Content/img/action3.jpg" style=" width:250px;height:303px;margin:10px" />
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default more" href="https://go.microsoft.com/fwlink/?LinkId=301867">Watch more &raquo;</a></p>
                </div>
            </div>

        </section>

        @* End PartThree*@

    


      








        @section scripts{
            <script>

            </script>
        }
